<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Diagnosis repost</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    
    <form method="post" action="/newBloodTest">
        <input type="text" name="bp" placeholder="Enter blood pressure" required />
        <input type="text" name="hemo" placeholder="Enter hemoglobin" required />
        <input type="text" name="rbcCount" placeholder="Enter rbc count" required />
        <input type="text" name="wbcCount" placeholder="Enter wbc count" required />
        <input type="text" name="plateletsCount" placeholder="Enter platelets count" required />
        <input type="date" name="dateOfReport" placeholder="Enter date of report" required />
        <button type="submit">Add new report</button>
    </form>

</body>
</html>