<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Prescription</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    
    <form method="post" action="/newPrescription">
        <input type="text" name="tabletName" placeholder="Tablet Name" required />
        <input type="text" name="dosage" placeholder="Dosage" required />
        <button type="submit">Add Prescription</button>
    </form>

</body>
</html>